body {
  background-color: #f8f8f8;
}
.page-header {
  background-color: #ffffff;
}
.page-header .header.content {
  max-width: 1390px;
  display: flex;
  padding: 24px 20px;
  align-items: center;
}
.page-header .header.content .logo {
  margin: 0px;
  width: 320px;
  margin-right: auto;
}
.page-header .header.content .nav-container {
  display: flex;
  align-items: center;
  min-width: 0;
  margin-left: 20px;
}
.page-header .header.content .nav-container .trustPilotLogo-container {
  width: 120px;
  display: flex;
  align-items: center;
}
.page-header .header.content .nav-container .block-search {
  padding: 0;
  margin-left: 45px;
  width: 390px;
}
.page-header .header.content .nav-container .block-search input {
  border-radius: 35px;
  padding: 22px;
}
.page-header .header.content .nav-container .block-search .control {
  padding: 0px;
}
.page-header .header.content .nav-container .block-search .action.search {
  width: 45px;
}
.page-header .header.content .nav-container .block-search .action.search:before {
  font-size: 40px;
  color: #000000;
  line-height: 32px;
}
@media screen and (max-width: 768px) {
  .page-header .header.content .nav-container .block-search .action.search {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    border: 0;
    margin: 0;
    height: 100%;
    background-color: #e8e8e8;
  }
}
.page-header .header.content .nav-container .action.search {
  margin: 7px 5px 0px 0px;
  height: 32px;
  padding: 0px;
}
.page-header .header.content .nav-container .blue-logo-container {
  width: 45px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .page-header .header.content .nav-container .trustPilotLogo-container,
  .page-header .header.content .nav-container .blue-logo-container {
    display: none;
  }
}
.page-header .header.content .nav-container .flag-and-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.page-header .header.content .nav-container .flag-and-select-container .select-container #country-select {
  width: 43px;
  padding: 0px;
  border: none;
  font-size: 1.4rem;
  color: #4a4a4a;
  box-shadow: none;
}
.page-header .header.content .nav-container .flag-container {
  width: 15px;
  height: 15px;
}
.page-header .header.content .nav-container .flag-container img {
  border-radius: 10px;
}
.page-header .header.content .nav-container .user-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px 0px 0px 30px;
}
.page-header .header.content .nav-container .user-item {
  display: flex;
}
.page-header .header.content .nav-container .user-item .container {
  text-align: center;
  position: relative;
}
.page-header .header.content .nav-container .user-item .container .minicart-wrapper {
  float: none;
  display: block;
  margin: 0px auto;
  width: 25px;
  height: auto;
}
.page-header .header.content .nav-container .user-item::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 1px;
  background-color: #dadada;
  margin: auto 20px;
}
.page-header .header.content .nav-container .user-item img {
  width: 25px;
  height: auto;
  display: block;
  margin: 0px auto;
}
.page-header .header.content .nav-container .user-item .user-text {
  text-decoration: none;
  display: inline-block;
  color: #4a4a4a;
  font-size: 1.4rem;
  margin-top: 5px;
  min-width: max-content;
}
.page-header .header.content .nav-container .user-item:first-child:before {
  content: "";
  display: none;
}
.page-header .header.content .nav-container .user-item .notification {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #ff0000;
  color: #ffffff;
  padding: 2px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minicart-wrapper .action.showcart {
  margin: 0;
  padding: 0;
  height: 25px;
}
.minicart-wrapper .action.showcart:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("images/bag.png");
  background-size: cover;
  background-position: center;
}
.minicart-wrapper .action.showcart .counter.qty {
  min-width: 12px;
  height: 12px;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #ff0000;
  color: #ffffff;
  padding: 2px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.minicart-wrapper .action.showcart.active:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("images/bag.png");
  background-size: cover;
  background-position: center;
}
.split-container-two {
  display: none;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background-color: #f5f5f5;
  min-height: 50px;
}
.navigation .level0 {
  margin: 0;
  position: static;
}
.navigation .level0 > .level-top {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0;
}
.navigation .level0 > .level-top:hover {
  color: #ff0000;
}
.navigation .level0 .submenu {
  font-weight: 500;
  border: 0;
  width: 100%;
  left: 0;
}
.navigation .level0.parent > .level-top {
  padding-right: 21px;
}
.navigation .level0.parent > .level-top > .ui-menu-icon:after {
  font-weight: 500;
  font-size: 25px;
}
.nav-sections-item-content {
  position: relative;
}
.nav-sections-item-content > .navigation {
  max-width: 1390px;
  position: static;
}
.nav-sections-item-content > .navigation .level0 .submenu {
  z-index: 2;
}
.nav-sections-item-content > .navigation > ul {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: static;
  margin: 0;
}
#html-body [data-pb-style=EYTSFPH],
#html-body [data-pb-style=XQ0M8V0] {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .page-header .header.content .nav-container .block-search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 20%;
    width: auto;
    margin: 0;
    border-radius: 0;
    z-index: 2;
    background-color: #e8e8e8;
  }
  .block-search .control {
    border: 0;
    width: 100%;
    margin: 0;
  }
  .page-header .header.content .nav-container .block-search input {
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  .block-search input {
    position: static;
    margin: 0;
    background-color: #f4f4f4;
  }
  .block-search .label {
    display: none;
  }
  .block-search .action.search > span {
    display: none;
  }
  .block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 22px;
    line-height: 22px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'icons-blank-theme';
    margin: auto;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    speak: none;
    text-align: center;
  }
  .nav-sections {
    position: static;
    width: 100%;
    display: none;
    z-index: 2;
  }
  .page-header {
    margin-bottom: 0px;
    border-bottom: 0;
    position: relative;
  }
  .nav-sections-item-title {
    display: none;
  }
  .nav-sections-item-content > .navigation > ul {
    display: block;
  }
  .navigation .parent .level-top:after {
    top: -90%;
  }
  .navigation .level0 {
    border: 0;
    padding: 10px 0px;
  }
  .navigation .level0 .all-category {
    display: none;
  }
  .nav-sections-item-content {
    float: none;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
  .navigation li.level0:last-child {
    border-bottom: 0;
  }
  .page-main {
    margin-top: 70px;
  }
  .pagebuilder-column {
    flex-basis: 50%;
  }
}
.page-footer .footer-sub-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.page-footer .footer-sub-container .width-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 45px 0px;
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
}
.page-footer .footer-sub-container .width-container .sub-items {
  display: flex;
  width: fit-content;
}
.page-footer .footer-sub-container .width-container .sub-items .circle {
  border-radius: 50%;
  background-color: #ff0000;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.page-footer .footer-sub-container .width-container .sub-items .circle svg {
  width: 30px;
  height: auto;
}
.page-footer .footer-sub-container .width-container .sub-items h2 {
  font-size: 1.9rem;
  margin: 0;
}
.page-footer .footer-sub-container .width-container .sub-items h2 b {
  font-size: 3rem;
}
.page-footer .footer-sub-container .width-container .sub-items .text {
  font-size: 1.6rem;
}
.page-footer .footer-sub-container .width-container .sub-items .text a {
  color: #ff0000;
  text-decoration: underline;
}
.page-footer .footer-sub-container .width-container .sub-items:nth-child(2)::before {
  content: "";
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #dadada;
  margin: auto 30px;
}
.footer-nav-container {
  display: flex;
  background-color: #181818;
  padding-top: 40px;
  width: 100%;
}
.footer-nav-container .width-container {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  list-style: none;
  margin: 0px auto;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 1350px;
}
.footer-nav-container .width-container .navbar .footer-container {
  height: 100%;
  padding: 0px 5px;
  margin-right: auto;
}
.footer-nav-container .width-container .navbar .footer-container .navbar-toggler {
  display: flex;
  pointer-events: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  padding: 8px 0px;
}
.footer-nav-container .width-container .navbar .footer-container .navbar-toggler:after {
  content: "";
  border: 4px solid transparent;
  border-top: 4px solid white;
  margin-left: auto;
  margin-bottom: 3px;
  display: none;
  vertical-align: bottom;
}
.footer-nav-container .width-container .navbar .footer-container .footer-items {
  padding: 0.5rem 0rem;
}
.footer-nav-container .width-container .navbar .footer-container .footer-items .footer-heading {
  color: #ffffff;
}
.footer-nav-container .width-container .navbar .footer-container .footer-items .footer-links {
  color: #7c7c7c;
  margin: 5px;
  text-decoration: none;
}
.footer-nav-container .width-container .navbar .footer-container .footer-items .footer-row {
  display: flex;
  flex-direction: row;
}
.footer-nav-container .width-container .navbar .footer-container .d-lg-none {
  display: flex;
}
.footer-nav-container .width-container .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer-nav-container .width-container .footer-bottom .support h6 {
  margin: 5px 0px;
  font-size: 1.3rem;
}
.footer-nav-container .width-container .footer-bottom .text {
  color: #7c7c7c;
  font-weight: 400;
}
.footer-nav-container .width-container .footer-image {
  display: flex;
  max-width: 300px;
  max-height: 70px;
}
.footer-nav-container .width-container .footer-image img {
  width: calc(25%);
  height: auto;
  margin-left: 5px;
}
.footer-nav-container .h-line {
  margin: 30px 0px;
  border-top: 1px solid #7c7c7c;
  width: 100%;
}
.footer-nav-container .navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  background-color: transparent;
  height: fit-content;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}
.footer-nav-container .footer-col-svg {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.footer-nav-container .footer-col-svg svg {
  width: 45px;
  height: 45px;
}
.footer-nav-container .img-grp {
  display: flex;
}
.footer-nav-container .img-grp img {
  width: 35px;
  height: 35px;
  padding: 5px;
}
.footer-heading {
  color: #ffffff;
  text-decoration: none;
}
.footer-items {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  .section-container {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .trustPilotLogo-container {
    display: none;
  }
  .blue-logo-container {
    display: none;
  }
}
