.page-header .header.content {
  max-width: 1350px;
  display: flex;
  padding: 24px 0px;
  align-items: center;
}

.page-header .header.content .logo {
  margin: 0px;
  width: 320px;
  margin-right: auto;
  min-width: 300px;
}

.page-header .header.content .nav-container {
  display: flex;
  align-items: center;
  min-width: 0;
}

.page-header .header.content .nav-container .trustPilotLogo-container {
  width: 120px;
  display: flex;
  align-items: center;
}

.page-header .header.content .nav-container .block-search input {
  border-radius: 35px;
  padding: 22px;
}

.page-header .header.content .nav-container .block-search {
  padding: 0;
  margin-left: 45px;
  width: 390px;
}

.page-header .header.content .nav-container .block-search .control {
  padding: 0px;
}

.page-header .header.content .nav-container .block-search .action.search {
  width: 45px;
}

.page-header .header.content .nav-container .block-search .action.search:before {
  font-size: 40px;
  color: #000;
  line-height: 32px;
}

.page-header .header.content .nav-container .action {
  margin: 7px 5px 0px 0px;
  height: 32px;
  padding: 0px;
}

/* Blue logo */

.page-header .header.content .nav-container .blue-logo-container {
  width: 45px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

/* Flag container */
.page-header .header.content .nav-container .flag-and-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.page-header .header.content .nav-container .flag-container {
  width: 15px;
  height: 15px
}

.page-header .header.content .nav-container .flag-and-select-container .select-container #country-select {
  width: 43px;
  padding: 0px;
  border: none;
  font-size: 1.4rem;
  color: #4a4a4a;
  box-shadow: none;
}

.page-header .header.content .nav-container .flag-container img {
  border-radius: 10px;
}

/* User */

.page-header .header.content .nav-container .user-wrapper {
  padding: 0px 0px 0px 30px;
}

.page-header .header.content .nav-container .user-wrapper .user-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header .header.content .nav-container .user-wrapper .user-item {
  display: flex;
}

.page-header .header.content .nav-container .user-wrapper .user-item .container {
  text-align: center;
  position: relative;
}

.page-header .header.content .nav-container .user-wrapper .user-item::before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 1px;
  background-color: #dadada;
  margin: auto 20px;
}

.page-header .header.content .nav-container .user-wrapper .user-item img {
  width: 25px;
  height: auto;
  display: block;
  margin: 0px auto;
}

.page-header .header.content .nav-container .user-wrapper .user-item a {
  text-decoration: none;
  display: inline-block;
  color: #4a4a4a;
  font-size: 1.4rem;
  margin-top: 5px;
}

.page-header .header.content .nav-container .user-wrapper .user-item:first-child:before {
  content: '';
  display: none;
}

.page-header .header.content .nav-container .user-wrapper .user-item .notification {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: red;
  color: #fff;
  padding: 2px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .page-header .header.content .nav-container .trustPilotLogo-container {
    display: none;
  }

  .page-header .header.content .nav-container .blue-logo-container {
    display: none;
  }
}

.navigation .level0 > .level-top{
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0;
}
.navigation .level0.parent > .level-top > .ui-menu-icon:after {
  font-weight: 500;
  font-size: 25px;
}

.nav-sections {
  margin-bottom: 0;
}

.navigation .level0 {
  margin: 0;
}

.nav-sections-item-content>.navigation {
  max-width: 1350px;
  min-width: 0;
}

.nav-sections-item-content>.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navigation .level0.parent > .level-top {
  padding-right: 21px;
}

.navigation .level0 > .level-top:hover {
  color: red;
}

.navigation .level0 .submenu {
  font-weight: 500;
  border: 0;
  width: 100%;
} 
