<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Virtual Type for Observer -->
    <virtualType name="Yatnam\Instructions\Observer\SaveDeliveryInstructionsObserver" type="Magento\Framework\Event\Observer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="instance" xsi:type="object">Yatnam\Instructions\Observer\SaveDeliveryInstructionsObserver</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Observer -->
    <type name="Magento\Framework\Event\ObserverPool">
        <arguments>
            <argument name="observers" xsi:type="array">
                <item name="yatnam_instructions_save_delivery_instructions" xsi:type="array">
                    <item name="class" xsi:type="object">Yatnam\Instructions\Observer\SaveDeliveryInstructionsObserver</item>
                    <item name="method" xsi:type="string">execute</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin for Sales Order Address Save -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Address">
        <plugin name="yatnam_instructions_sales_order_address_save_plugin" type="Yatnam\Instructions\Plugin\SalesOrderAddressSavePlugin" sortOrder="10"/>
    </type>
</config>
