<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="Instructions" frontName="Instructions">
            <module name="Yatnam_Instructions"/>
        </route>
    </router>
</config>
